html,body{
  height: 100%;
}

#contents-list{
  width: 645px;
  float: left;
  margin-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  height:auto;
}

#right-side{
  float: right;
}

.post{
  width: 800px;
  height: 195px;
  padding-bottom: 10px;
  padding-left: 73px;
}

.post-img{
  width: 210px;
  height: 155px;
  padding-right: 10px;
  float: left;
}

.post-text{
  width: 550px;
  padding-left: 10px;
  display: block;
}
a{
  color: black;
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
}

.said-ranking-h2{
  text-align: center;
}
#header{
  height: 560px;
}
#logo {
  height: 60px;
}

.top-name{
  font-style: 'Helvetica';
  font-weight: bold;
  font-size: 24px;
  padding: 14px 0 15px 60px;
}
.header-slider {
  height: 500px;
  background-color: #9B9B9B;
}
#nav-category ul{
  width: 235px;
  min-height:  279px;
  height: auto;
  background-color: white;
  float: right;
  font-family: 'Hiragino Sans';
  font-weight: 800;
  list-style: none;
  margin: 60px 47px 10px 49px;
}
#nav-category li{
  display: inline;
  padding: 0;
  margin: 0;
}

.nav-top a{
  display: block;
  padding: 17px 0px 17px 38px;
  border: 1px solid #9B9B9B;
  border-top-right-radius: 12px;
}
.nav a{
  display: block;
  padding: 17px 0px 17px 38px;
  border-right: 1px solid #9B9B9B;
  border-left: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B;
}
#nav-category li a:hover{
  color: #FF5C04;
  padding: 17px 0px 17px 38px;
}

#saide-ranking{
  width: 235px;
  height: auto;
  background-color: white;
  margin: 60px 47px 10px 49px;
  padding-top: 100px;
}

.saide-ranking-ul{
  list-style:none;
}

.saide-ranking-li{
  clear: both;
  line-height: 1.2;
}

.saide-ranking-img{
  width: 90px;
  height: 80px;
  float: left;
}

.category-text{
  list-style: none;
  padding: 17px 0px 17px 38px;
  border-bottom: 1px solid #979797;
}

.post{
  width: 80%;
  word-wrap: break-word;
}


.footer
{
  position: absolute;
  bottom: -1680px;
  left: 0;
  height:90px;
  width: 100%;
  text-align: center;
}
